<%= stylesheet_link_tag "profile_update", "data-turbo-track": "reload" %>
<h1>My Profile</h1>
<br />
<div class="center">
  <div class = "shadow_box container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <h3> Reset Password </h3>
      <hr />
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <div class="submit">
        <%= f.submit "Update", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
  <div class="ms-5">
    <div class = "shadow_box container">
      <h3>Delete Account</h3>
      <hr />
      <div class="delete_account container">
        <p> Delete Account Permanently </p>
        <%= button_to "Delete my account", registration_path(resource_name), method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?"},class: "btn btn-danger" %></div>
    </div>
    <br />
    <hr /><br />
    <% if current_user.customer? %>
      <div class=" shadow_box container">
        <h3>Chage Delivery Address</h3>
        <hr />
        <%= render 'shared/update_address' %>
      </div>
    <% end %>
  </div>
</div>
