<div class="center">
  <div class="shadow_box mt-5">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h1 class="center_text">Sign up</h1>
      <hr />
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="d-flex">
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
      <div class="d-flex">
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
      <br />
      <h5>Address</h5>
      <hr />
      <%= f.fields_for :customer do |customer_form| %>
        <div class="d-flex">
          <div class="field">
            <%= customer_form.label :house_number %><br />
            <%= customer_form.text_field :house_number %>
          </div>
          <div class="field">
            <%= customer_form.label :street %><br />
            <%= customer_form.text_field :street %>
          </div>
        </div>
        <div class="d-flex">
          <div class="field">
            <%= customer_form.label :locality %><br />
            <%= customer_form.text_field :locality %>
          </div>
          <div class="field">
            <%= customer_form.label :city %><br />
            <%= customer_form.text_field :city %>
          </div>
        </div>
        <div class="center">
          <div class="field">
            <%= customer_form.label :phone_number %><br />
            <%= customer_form.number_field :phone_number %>
          </div>
        </div>
      <% end %>
      <div class="center">
        <%= f.submit "Sign up", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
