<%= javascript_include_tag 'admin.js' %>
<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1 class="center mt-3">Active Orders</h1>
<div class="container border border-dark mt-5">
  <% if @active_orders.any? %>
    <div class="orders-header">
      <div class="row p-2 m-2 border-bottom border-dark">
        <div class="col center">
          <h5>Customer Name</h5>
        </div>
        <div class="col center">
          <h5>Placed At</h5>
        </div>
        <div class="col center">
          <h5>Delivery Address</h5>
        </div>
        <div class="col center">
          <h5>Status</h5>
        </div>
        <div class="col center">
          <h5>Order Details</h5>
        </div>
        <div class="col center">
          <h5>Delivery Agent</h5>
        </div>
      </div>
    </div>
    <div class="orders-body">
      <% @active_orders.each do |order| %>
        <div class="row p-2 m-2 border-bottom border-dark overflow-auto" id="order<%= order.id %>">
          <div class="col center">
            <p><%= order.customer.user.name %></p>
          </div>
          <div class="col center">
            <p><%= order.created_at %></p>
          </div>
          <div class="col center">
            <p><%= delivery_address(order.address) %></p>
          </div>
          <div class="col center">
            <p class="status"><%= order.status.titleize %></p>
          </div>
          <div class="col center">
            <%= render 'shared/order_detail', order: order%>
          </div>
          <div class="col center delivery_agent">
            <% if order.delivery_agent %>
              <p><%= order.delivery_agent.user.name %></p>
            <% else %>
              <%= render 'assign_agent_modal', order: order %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="apple_pagination center">
  <%= will_paginate @active_orders %>
</div>