<!-- Modal -->
<div class="modal fade" id="couponFormModal_<%= coupon.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: coupon, remote: true, id: "coupon-create-form" do |form|%>
          <div class="field">
            <%= form.label :code, "Coupon Code" %>
            <%= form.text_field :code, class: "form-control" %>
          </div>
          <div class="field">
            <%= form.label :min_amount, "Minimum Cart Amount" %>
            <%= form.number_field :min_amount, class: "form-control" %>
          </div>
          <div class="field">
            <%= form.label :discount, "Discount" %>
            <%= form.number_field :discount, class: "form-control" %>
          </div>
          <div class="field">
            <%= form.label :from_date, "Valid From" %>
            <%= form.date_field :from_date, class: "form-control" %>
          </div>
          <div class="field">
            <%= form.label :to_date, "Valid Till" %>
            <%= form.date_field :to_date, class: "form-control" %>
          </div>
          <%= form.submit class: "btn btn-success form-submit-button", id: coupon.id, data: { 'bs-dismiss': "modal" } %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>