<div class="coupon shadow_box" id="coupon_<%= coupon.id %>">
  <p><strong>Code: </strong><%= coupon.code %></p>
  <p><strong>Valid From: </strong><%= coupon.from_date.to_date %></p>
  <p><strong>Valid Till: </strong><%= coupon.to_date %></p>
  <p><strong>Minimum Spend: </strong><%= coupon.min_amount %></p>
  <p><strong>Discount: </strong><%= coupon.discount %></p>
  <button class="coupon-delete-button btn btn-danger" data-coupon-id="<%= coupon.id %>">Delete this Coupon</button>
</div>