<div id="order_<%= order.id %>" class="shadow_box">
  <p><strong>Order ID: </strong>#<%= order.id %></p>
  <p><strong>Amount Paid: </strong>Rs <%= order.total %></p>
  <p><strong>Order Status: </strong><%= order.status.titleize %></p>
  <hr />
  <div class="d-flex gap-2 center">
    <%= render 'shared/order_detail', order: order %>
    <% if order.is_active %>
      <%= render 'tracking', order: order %>
    <% end %>
  </div>
</div>