<%= javascript_include_tag 'home_page' %>
<%= stylesheet_link_tag "customer_home", "data-turbo-track": "reload" %>
<%= render 'banner_carousel' %>
<%= render 'shared/toast' %>
<div id="foods">
  <% render_suggestion_accrodian do %>
    <hr>
    <%= render 'suggestion_accordian', suggestions: @suggested_foods %>
  <% end %>
  <% @categories.each do |category| %>
    <% render_category(category) do %>
      <hr />
      <h3> <%= category.name %> </h3>
      <div class="category">
        <% category.foods.each do |food| %>
          <%= render partial: 'food', locals: {food: food} %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
