<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateStatusModal<%= order.id %>">
  Update Status
</button>
<!-- Modal -->
<div class="modal fade" id="updateStatusModal<%= order.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Order Status</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: order_path(order), class: "status_update_form" do |form| %>
          <% render_out_for_delivery_button(order) do %>
            <input type="radio" id="<%= order.id %>" name="status" value="2" class="hidden-radio" >
            <label for="<%= order.id %>">Out For Delivery</label>
          <% end %>
          <% render_delivered_button(order) do %>
            <input type="radio" id="<%= order.id %>" name="status" value="3" class="hidden-radio" >
            <label for="<%= order.id %>">Delivered</label>
          <% end %>
          <div class="center">
            <%= form.submit "Update Status", class: "btn btn-success mt-2", data: {'bs-dismiss': 'modal'} %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>