<%= javascript_include_tag 'delivery_agent.js' %>
<% if @active_orders.any? %>
  <div class="container">
    <h1>Pending Orders</h1>
    <hr />
    <div class="active_orders border border-black p-2 m-2">
      <div class="row border-bottom border-black p-2 m-2">
        <div class="col center">
          <h3>Order ID</h3>
        </div>
        <div class="col center">
          <h3>Current Status</h3>
        </div>
        <div class="col center">
          <h3>Update Status</h3>
        </div>
      </div>
      <% @active_orders.each do |order| %>
        <div class="row p-1 m-1" id="order_<%= order.id %>">
          <div class="col center">
            <p><%= order.id %></p>
          </div>
          <div class="col center">
            <p class="status"><%= order.status.titleize %></p>
          </div>
          <div class="col center">
            <%= render 'status_form', order: order %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="center mt-5">
    <h1>No Orders Assigned :)</h1>
  </div>
<% end %>
