<%= javascript_include_tag 'delivery_agent.js' %>
<%= render 'shared/toast' %>
<% if @active_orders.any? %>
  <div class="pending-orders container">
    <h1>Pending Orders</h1>
    <hr />
    <div class="active_orders border border-black p-2 m-2">
      <div class="row border-bottom border-black p-2 m-2">
        <div class="col center">
          <h3>Order ID</h3>
        </div>
        <div class="col center">
          <h3>Current Status</h3>
        </div>
        <div class="col center">
          <h3>Update Status</h3>
        </div>
      </div>
      <% @active_orders.each do |order| %>
        <div class="row p-1 m-1 assigned-orders" id="order_<%= order.id %>">
          <div class="col center">
            <p><%= order.id %></p>
          </div>
          <div class="col center">
            <p class="status"><%= order.status.titleize %></p>
          </div>
          <div class="col center">
            <% render_out_for_delivery_button(order) do %>
              <button class="btn btn-success out-for-delivery" data-order-id="<%= order.id %>" data-status="out_for_delivery">Mark as Out For Delivery</button>
            <% end %>
            <% render_delivered_button(order) do %>
              <button class="btn btn-success delivered" data-order-id="<%= order.id %>" data-status="delivered">Mark as Delivered</button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="center mt-5">
    <h1>No Orders Assigned :)</h1>
  </div>
<% end %>
