<div class="center">
  <div class="shadow_box mt-5">
    <h2>Create Delivery Agent</h2>
    <hr />
    <%= form_with url: delivery_agents_path, model: @delivery_agent do |form| %>
      <div class="field">
        <%= form.label :name %><br />
        <%= form.text_field :name, autofocus: true %>
      </div>
      <div class="field">
        <%= form.label :email %><br />
        <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= form.label :password %><br />
        <%= form.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= form.label :password_confirmation %><br />
        <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="center mt-3">
        <%= form.submit "Create Delivery Agent", class: "btn btn-success" %>
      </div>
      <%= form.hidden_field :role_id, value: 2 %>
    <% end %>
  </div>
</div>