<div class = "row m-2 p-2 border-bottom" id="order_<%= order.id %>">
  <div class="col center">
    <p>#<%= order.id %></p>
  </div>
  <div class="col center">
    <p><%= order.user.name %></p>
  </div>
  <div class="col center">
    <p><%= order.created_at.to_date %></p>
  </div>
  <div class="col center">
    <p><%= order.status.titleize %></p>
  </div>
  <div class="col center">
    <p>Rs <%= order.total %></p>
  </div>
  <div class="col center">
    <%= render 'shared/order_detail', order: order %>
  </div>
</div>