<%= javascript_include_tag 'checkout' %>
<%= stylesheet_link_tag "checkout", "data-turbo-track": "reload" %>
<div class="container row center">
  <div class="col-6 ">
    <div class="shadow_box center flex-column w-auto ">
      <h2 class="m-0 p-0">Cart Summary</h2>
      <%= render 'carts/cart_summary', cart_details: @cart_details %>
    </div>
  </div>
  <div class="col-6">
    <div class="container shadow_box">
      <div class="d-flex flex-column">
        <h5>Have a Coupon Code?</h5>
        <div class="field center">
          <input id="coupon_code" type="text"></input>
      </div>
      <div class="field center flex-column">
        <div id="coupon-response">
        </div>
        <button class="btn btn-success" id="apply-coupon-button">Apply Coupon</button>
      </div>
    </div>
    <div>        <hr>
      <div class="d-flex flex-row gap-2">
        <h5>Select your Delivery Address</h5>
        <%= render 'shared/address_create_modal' %>
      </div>
      <%= form_with url: orders_path, method: :post,remote: true do |form|%>
        <div class="addresses">
          <% @addresses.each do |address| %>
            <div class="address field">
              <%= form.radio_button :address_id, address.id, id: address.id, class: "hidden-radio" %>
              <%= form.label :address_id, delivery_address(address), for: address.id %>
            </div>
          <% end %>
        </div>
        <%= form.hidden_field :coupon, id: "coupon-code-field" %>
        <div class="center">
          <%= form.submit "Checkout", class: "btn btn-success", id: "checkout-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
