<div class="row mt-4" id="cart-summary">
  <!-- Cart summary -->
  <div class="col-md-6 cart-summary">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td>Subtotal</td>
            <td>Rs <span id="subtotal"><%= cart.subtotal %></span></td>
          </tr>
          <tr>
            <td>Delivery Charge</td>
            <td>Rs <span id="delivery-charge"><%= cart.delivery_charge %></span></td>
          </tr>
          <tr>
            <td>Discount</td>
            <td>- Rs <span id="cart_discount"><%= cart.discount %></span></td>
          </tr>
          <tr>
            <td>Total</td>
            <td>Rs <span id="total"><%= cart.total %></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Checkout button -->
  <div class="col-md-6 d-flex justify-content-center align-items-center">
    <%= link_to "Proceed To Checkout", new_order_path, class: "btn btn-success"%>
  </div>
  <div class="row mt-6">
    <div class="coupons-container">
      <!-- Coupon Form -->
      <% if cart.coupon %>
        <div class="col-md-6 coupon center mt-3 border p-2 d-flex gap-3" id="coupon-remove-container">
          <p><strong class="text-success">Coupon Applied: </strong><%= cart.coupon.code %></p>
          <%= button_to remove_coupon_path, method: :post, class: "btn btn-danger remove-coupon" do %>
            <i class="bi bi-x-lg"></i> Remove Coupon
          <% end %>
        </div>
      <% else %>
        <div class="col-md-6 d-flex mt-4" id="coupon-selection-container">
          <%= render 'carts/coupon_selection_form' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
