<div class="row cart-row" id="cart_entry_<%= item.id %>" >
  <!-- Product Image -->
  <div class="col center">
    <%= image_tag item.food.images.first.variant(:thumb), class: "img-fluid product-image"%>
  </div>
  <!-- Product Name -->
  <div class="col center">
    <p><%= item.food.name %></p>
  </div>
  <!-- Product Price -->
  <div class="col center">
    <p>Rs <%= item.food.price %></p>
  </div>
  <!-- Quantity -->
  <div class="col center">
    <%= render 'carts/quantity_selector', item: item%>
    <!-- <p><%# item.quantity %></p> -->
  </div>
  <!-- Total Price -->
  <div class="col center">
    <p>Rs <%= item.subtotal %></p>
  </div>
  <div class="col center">
    <p>Rs <%= item.discount %></p>
  </div>
  <!-- Remove Button -->
  <div class="col center">
    <button data-order-item-id="<%= item.id %>" class="btn btn-danger btn-sm remove-button">Remove</button>
  </div>
</div>