<div class="row cart-row">
  <!-- Product Image -->
  <div class="col center">
    <%= image_tag item.food.images.first.variant(:thumb), class: "img-fluid product-image"%>
  </div>
  <!-- Product Name -->
  <div class="col center">
    <p><%= item.food.name %></p>
  </div>
  <!-- Product Price -->
  <div class="col center">
    <p>Rs <%= item.food.price %></p>
  </div>
  <!-- Quantity -->
  <div class="col center">
    <p><%= item.quantity %></p>
  </div>
  <!-- Total Price -->
  <div class="col center">
    <p>Rs <%= item.quantity * item.food.price %></p>
  </div>
  <div class="col center">
    <% if discount %>
      <p>Rs <%= discount %></p>
    <% else %>
      <p>Rs 0 </p>
    <% end %>
  </div>
  <!-- Remove Button -->
  <div class="col center">
    <button data-cart-item-id="<%= item.id %>" class="btn btn-danger btn-sm remove-button">Remove</button>
  </div>
</div>