<%= stylesheet_link_tag 'cart' %>
<%= javascript_include_tag 'cart' %>
<% display_cart_items(@cart_items) do %>
  <div class="container mt-5 cartContainer">
    <h2 class="mb-4">Shopping Cart</h2>
    <!-- Headers for the shopping cart -->
    <div class="row">
      <div class="col center"><strong>Product Image</strong></div>
      <div class="col center"><strong>Product Name</strong></div>
      <div class="col center"><strong>Price</strong></div>
      <div class="col center"><strong>Quantity</strong></div>
      <div class="col center"><strong>Sub Total</strong></div>
      <div class="col center"><strong>Discount</strong></div>
      <div class="col center"><strong>Remove</strong></div>
    </div>
    <!-- Shopping cart rows -->
    <div class="cart-items">
      <% @cart_items.each do |item| %>
        <%= render partial: 'cart_entry', locals: {item: item} %>
      <% end %>
    </div>
    <!-- Cart summary -->
    <div class="row">
      <%= render 'cart_summary', cart_details: @cart_details %>
      <div class="col-6 d-flex justify-content-center align-items-center">
        <%= link_to "Proceed To Checkout", new_order_path, class: "btn btn-success"%>
      </div>
    </div>
  </div>
<% end %>
<% display_cart_empty_message(@cart_items) do %>
  <div class="center">
    <h1>Your Cart is Empty</h1>
  </div>
<% end %>
