<div id="<%= dom_id food %>" class="shadow_box food-container">
  <div class="food-images p-1 m-1">
    <% food.images.each do |image| %>
      <%= image_tag image.variant(:thumb) %>
    <% end %>
  </div>
  <div class="food-details p-1 m-1">
    <p>
      <strong>Name:</strong>
      <%= link_to food.name, food_path(food) %>
    </p>
    <p>
      <strong>Description:</strong>
      <span class="food-description"><%= food.description %></span>
    </p>
    <p>
      <strong>Price:</strong>
      <span class="food-price"><%= food.price %></span>
    </p>
    <p>
      <strong>Quantity:</strong>
      <span class="food-quantity"><%= food.quantity %></span>
    </p>
    <div class="food-form center">
      <%= render 'food_update_modal', food: food%>
      <button class="food-delete-button btn btn-danger ms-2" data-food-id="<%= food.id %>">Delete this Food</button>
    </div>
  </div>
</div>