<button type="button" class="btn btn-success ms-3" data-bs-toggle="modal" data-bs-target="#foodCreateModal">
  <span><i class="bi bi-plus-lg"></i></span> Create a new Food
</button>
<div class="modal fade" id="foodCreateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new Food</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mt-0">
        <%= form_with(model: food, id: "food_create_form") do |form| %>
          <div class="field mt-0">
            <%= form.label :name, style: "display: block" %>
            <%= form.text_field :name %>
          </div>
          <div class="field">
            <%= form.label :description, style: "display: block" %>
            <%= form.text_area :description %>
          </div>
          <div class="field">
            <%= form.label :price, style: "display: block" %>
            <%= form.number_field :price %>
          </div>
          <div class="field">
            <%= form.label :category_id, style: "display: block" %>
            <%= form.collection_select :category_id, @categories, :id, :name, prompt: "Select a category" %>
          </div>
          <div class="field">
            <%= form.label :images, style: "display: block" %>
            <%= form.file_field :images, multiple: true %>
          </div>
          <div class="field">
            <%= form.label :quantity, style: "display: block" %>
            <%= form.number_field :quantity %>
          </div>
          <%= form.submit class: "btn btn-success field center food-update-button", data: { 'bs-dismiss': "modal", 'food-id': food.id } %>
        <% end %>
      </div>
    </div>
  </div>
</div>